<!DOCTYPE html>
<html>
  <body>
    <h2>People!</h2>
    <p>Add Someone...</p>

    <form action="/new" method="post">
      <input type="text" name="name"></input>
      <button type="submit">Submit!</button>
    </form>

    <hr>

    {% for item in items %}
      <p> Name: {{ item.name }} </p>
      <p> UID: {{ item.uid }}</p>
      <p> Added: {{ item.birthday }} </p>
      <hr>
    {% endfor %}

    <h2>Threading Example!</h2>
    <form action="/background" method="post">
      <button type="submit">Submit Long Running Task!</button>
    </form>

  </body>
</html>
